@import "../abstracts/_colors.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";


.screen {
    gap: 32px;
}

.section {
    @include text-xl-medium;
    color: $white;
}

.container {
    margin-bottom: 12px;
}

.header {
    @include header-h2-light;
    color: $white;
}