@import "../../abstracts/_colors.scss";
@import "../../base/_typography.scss";
@import "../../base/_mixins.scss";

.nav {
    @include flex-container(row, nowrap, space-between, center);
    gap: 12px;
    width: 100%;
}

.screenInfoContainer {
    @include flex-container(column, nowrap, center, flex-start);
    gap: 7px;
    flex: 1;
}

.screenName {
    @include text-md-medium;

    color: $secondary;
}

.caption {
    @include text-sm-regular;
    color: $secondary-400;
}

.appName {
    @include text-md-medium;
    color: $secondary;
}

